/* Add screen styles below */
body{
    font-family:Arial, Helvetica, sans-serif;
    background:#FFFFFF;
    color:#1a1b1b;
    margin:0;
    padding:0;
}

#Elections-1{
    color:white; 
    padding-top:40px;
    padding-bottom: 40px;
    margin:0px;
    background-color: #006FFF;
    font-size:70px;
}
#logo{
    width:40px;
    height:40px;
    display:flex;
}
#MichiganDOS{
    font-size: 50px;
    display:flex;
}
.topmenu{
    display:flex;
}
#centers{
    display:flex;
}